@media(min-width:600px) {
    .container_about_travel  {
        display: grid;
        grid-template-columns: 1fr 1fr;
       gap: 10px;
       margin-top: 5%;
       margin-bottom: 5%;
       margin-left: 5%;
       margin-right: 5%;
      
    }}

    .container_about_travel_text {
       display: block;
     padding-right: 10px;
    
    }
   .container_about_travel_foto {
    object-fit: cover;
    width: 100%;
    padding-bottom: 15px;
   }
   .link-button_about_cilantro{
    color: #192b42;
    border: 1px  solid;
     cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    font-size: l6px;
   }