/*Font Prata*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prata&display=swap");
/*Font Lato*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-in-out;
}

:root {
  --font-informal: "Prata", serif;
  --font-formal: 'Open Sans', sans-serif;
  --main-color: #192b42;
  --main-overlay-color: rgba(25, 43, 66, 0.6);
  --white-color: #fff;
  --paragraph-color: #6c6e75;
  --light-paragraph-color: #81888d;
  --price-color: #b2a385 !important;
  --brand-color: #b2a385;
  --brand-size: 25px;
  --brand-gap: 10px;
  --phone-color: #877454;
  font-family: var(--font-prata);
  color: var(--main-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

/* img {
  display: block;
  width: 100%;
} */

h2 {
  margin: 50px 15px;
  font-size: 30px;
}

p {
  color: var(--paragraph-color);
}

.phone{
  color: var(--phone-color);
}

.brand{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--brand-color);
  width: var(--brand-size);
  height: var(--brand-size);
  text-align: center;
  line-height: var(--brand-size);
  font-size: 13px;
}
.brand:not(:last-child){
  margin-right: var(--brand-gap);
}
.brand i{
  color: var(--price-color);
}
