@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prata&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-in-out;
}

:root {
  --main-color: #192b42;
  --white-color: #fff;
  --brande-color: #b2a385;
  --paragraph-color: #6c6e75;
  --light-paragraph-color: #81888d;
  --price-color: #b2a385 !important;
  --brand-size: 25px;
  --brand-gap: 12px;
  font-family: "Prata", serif;
  color: var(--main-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

/* img {
  display: block;
  width: 100%;
} */

h2 {
  margin: 50px 15px;
  font-size: 30px;
}

p {
  color: var(--paragraph-color);
}

.phone{
  color: var(--price-color);
}

.brand{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--price-color);
  width: var(--brand-size);
  height: var(--brand-size);
  text-align: center;
  line-height: var(--brand-size);
  font-size: 13px;
}
.brand:not(:last-child){
  margin-right: var(--brand-gap);
}
.brand i{
  color: var(--price-color);
}
