.page__contacts__brands-container {
    display: flex;
}

.page__contacts__brand {
    border: 1px solid var(--phone-color);
    --brand-size: 30px;
    --brand-icon-size: 15px;
}

.page__contacts__brand i {
    color: var(--phone-color);
}

.page__contacts__brand:hover {
    background-color: var(--phone-color);
}

.page__contacts__brand:hover i {
    color: var(--white-color);
}