.latest-on-instagram {
    background-color: var(--main-color);
    text-align: center;
    padding: 10px 0 80px 0;
  }
  
  .latest-on-instagram__h2 {
    color: var(--white-color);
    font-family: var(--font-informal);
    font-weight: 400;
  }
  
  .images__image {
    margin: 10px;
  }
  