.cilantro-guides-container {
  background-image: url("../img/guides-background.png");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 24px;
}

.cilantro-guides__title {
  color: var(--white-color);
  text-align: center;
}

.cilantro-guides__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.guide-card {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin-top: 15px;
  padding: 43px 27px;
}

.guide-card__header-footer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide-card__image {
  width: 70px;
  border-radius: 50%;
  margin-top: 50px;
}

.guide-card__name {
  margin-top: 15px;
  height: 100%;
}

.guide-card__experience {
  font-size: 14px;
  font-family: var(--font-formal);
  margin-top: 30px;
  color: var(--light-paragraph-color);
}

.guide-card__title {
  font-family: var(--font-formal);
  text-align: center;
  width: 75%;
  margin: 30px;
  height: 100%;
  
}

.card__brands-container {
  display: flex;
  margin: 30px;
  
}

@media (min-width: 768px) {
  .cilantro-guides__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .guide-card {
    padding: 52px 28px;
  }

  .guide-card__image {
    width: 120px;
  }
}

@media (min-width: 1024px) {
  .cilantro-guides__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }

  .guide-card {
    padding: 70px 30px;
  }
}

.restaurant-guide {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-guide__container {
  margin: 60px;
  background-color: var(--white-color);
}

.restaurant-guide__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-guige-form__email {
  width: 50%;
}

.restaurant-guige-form__button {
  margin: 20px;
  width: 50%;

  background-color: var(--main-color);
  color: var(--white-color);
}

.membership {
  background-color: rgb(206, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-logo {
  width: 15%;
}