.cilantro-guides {
  background-image: url("../img/guides-background.png");
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 24px;
}

.cilantro-guides__title {
  color: var(--white-color);
  text-align: center;
}

.cilantro-guides__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-card {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  
}

.guide-card__image {
  width: 70px;
  border-radius: 50%;
  margin-top: 50px;
}

.guide-card__name {
  margin-top: 15px;
  
}

.guide-card__experience {
  font-size: 14px;
  font-family: var(--font-formal);
  margin-top: 30px;
  color: var(--light-paragraph-color);

}

.guide-card__title {
  font-family: var(--font-formal);
  text-align: center;
  width: 75%;
  margin: 30px;
}

.card__brands-container {
  margin: 30px;
}

.restaurant-guide {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-guide__container {
  margin: 60px;
  background-color: var(--white-color);
}

.restaurant-guide__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-guige-form__email {
  width: 50%;
}

.restaurant-guige-form__button {
  margin: 20px;
  width: 50%;

  background-color: var(--main-color);
  color: var(--white-color);
}

.membership {
  background-color: rgb(206, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-logo {
  width: 15%;
}