.header {
    color: var(--white-color);
}

.header__topbar {
    background-color: var(--main-color);
    font-family: var(--font-formal);
    padding: 0 3.5vw;
}

.burger__menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burger__line {
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--white-color);
    transition: 300ms;
}

.burger__line:not(:last-child) {
    margin-bottom: 5.2px;
}

.burger__menu-icon:hover {
    cursor: pointer;
}

.burger__menu-icon:hover .burger__line {
    background-color: var(--light-paragraph-color);
}

.topbar__nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    display: none;
}

.topbar__contacts {
    display: none;
}

@media (min-width: 991px) {
    .nav__menu {
        display: block;
    }

    .burger__menu-icon {
        display: none;
    }

    .header__topbar>.topbar__contacts {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .topbar__nav {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header .nav__logo {
    color: var(--white-color);
    font-size: 32px;
    font-family: var(--font-informal);
}

.header .topbar__brand:hover {
    background-color: var(--brand-color);
}

.header .topbar__brand:hover i {
    color: var(--main-color);
}

.header .menu__item {
    position: relative;
    color: var(--white-color);
    transition: none;
}

.header .menu__item:not(:last-child) {
    margin-right: 18px;
}

.header .menu__item:hover {
    color: var(--brand-color);
}

.header .menu .menu__item:hover::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 2px;
    width: 72%;
    background-color: var(--brand-color);
}