.header {
    color: var(--white-color);
}

.header__topbar {
    background-color: var(--main-color);
    font-family: var(--font-formal);
    padding: 0 11vw;
}

@media (min-width: 600px) {
    .header__topbar>.topbar__contacts {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .topbar__nav {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header .nav__logo {
    color: var(--white-color);
    font-size: 32px;
    font-family: var(--font-informal);
}

.header .topbar__brand:hover {
    background-color: var(--brand-color);
}

.header .topbar__brand:hover i {
    color: var(--main-color);
}

.header .menu__item {
    position: relative;
    color: var(--white-color);
    transition: none;
}

.header .menu__item:not(:last-child) {
    margin-right: 18px;
}

.header .menu__item:hover {
    color: var(--brand-color);
}

.header .menu .menu__item:hover::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 2px;
    width: 72%;
    background-color: var(--brand-color);
}