.header {
    color: var(--white-color);
}

.header__topbar {
    background-color: var(--main-color);
    font-family: var(--font-formal);
}

.header .nav__logo {
    color: var(--white-color);
    font-size: 32px;
    font-family: var(--font-informal);
}

.header .menu__item {
    color: var(--white-color);
    transition: none;
}

.header .menu__item:hover {
    color: var(--price-color);
}

.header .menu .menu__item:hover::after {
    content: "";
}

.header__greeting-container {
    position: relative;
    height: 783.6px;
    background-image: url(../img/header-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.greeting-container__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-overlay-color);
}

h1.header__greeting {
    font-size: 92px;
    font-weight: 300;
    text-align: center;
}

.header__link-button {
    font-size: 17.6px;
    padding: 12px 22.5px;
    background-color: var(--white-color);
    color: var(--dark-button-color);
}