.blog__title {
    color: var(--main-color);
    font-family: var(--font-informal);
    font-size: 25px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.blog__text {
    color: var(--light-paragraph-color);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.blog__cards__title {
    color: var(--main-color);
    font-family: var(--font-informal);
    font-size: 22px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.blog__cards__link {
    color: var(--phone-color);
    cursor: pointer;
    font-family: var(--font-informal);
    font-size: 14.4px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    }
    .blog__cards__link:hover {
        text-decoration: underline;
    }