.blog__title {
    color: rgb (25, 43, 66);
    font-family: var(--font-informal);
    font-size: 25px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.blog__text {
    color: rgb (129, 136, 141);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.blog__cards__title {
    color: rgb (25, 43, 66);
    font-family: var(--font-informal);
    font-size: 22px;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}