
.latest-on-instagram {
    background-color: var(--main-color);
    text-align: center;
    padding-top: 75px;
    padding-bottom: 90px;
  }
  
  .latest-on-instagram__h2 {
    color: var(--white-color);
    font-family: var(--font-informal);
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 28px;
  }

  .images__image {
    width: 100%;
    height: auto;
    max-width: 440px;
  }

  .latest-on-instagram__images {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 45px;
    padding: 0 24px;
  }

  @media (min-width: 991px) {
    .latest-on-instagram__images {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    