@media(min-width:600px) {
    .travel_planing_professional {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        }
}
.travel_planing>h2 {
    text-align: center;
    font-size: 28px;}

    .planing_block>.text_image>h3 {
        color: #b2a385;
        padding-bottom: 10px;
    
}
.planing_foto {
    object-fit: cover;
    width: 90%;
    height: 70%;
padding-left: 10%;}

.planing_block>.icon_image {
    width: 150px;
    padding-right: 60px;}

    .text-planing_other>.planing_block {
        display: flex;
        padding-right: 10%;
        gap: 15px;
    }
    .travel_planing_text {
        padding-right: 10%;
        padding-right: 2%;
        text-align: justify;
    }
    
    
