@media(min-width:600px) {
    .planning_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

.travel_planing>h2 {
    text-align: center;
    font-size: 28px;
}

.text-planing_other {
    display: block;
}

.planing_block>.icon_image {
    width: 100px;
    padding-right: 40px;

}

.text-planing_other>.planing_block {
    display: flex;
    padding-top: 10px;
}

.planing_block>.text_image>h3 {
    color: #b2a385;
    padding-bottom: 10px;
}

.text-planind {
    text-align: justify;
    padding-right: 50px;
}

.case_foto> img {
    object-fit: cover;
    width: 80%;
    height: 60%;
    padding-left: 50px;
}
