.popular-tours_recommended {
    padding-top:60px;
    padding-bottom:60px;
    background: rgb(246, 246, 244);
    justify-content: space-between;
}
.recommended_by {
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
}
.recommended_logo {
    width: 20%;
    margin: auto;
}